*{
    font-family: $primaryFont;
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    padding-top: 8.5rem;
}

h2{
    font-family: $secondaryFont;
    font-size: 2.7rem;
    text-align: justify;
}

h3{
    font-size: 2.5rem;
    text-align: justify;
}

h4{
    font-size: 2rem;
    text-align: justify;
}

h5{
    font-size: 1.5rem;
    text-align: justify;
}

p{
    font-size: 1.2rem;
    font-weight:300;
    text-align: justify;
}

.bgBlue{
    background-color: $primaryColor;
}

.divider{
    position: relative;
}

.readMoreButton{
    background-color: $buttonBackgroundColor;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: $whiteColor;
    display: inline-block;  
    font-size: 1rem;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.5s; 
    transform: perspective(1px) translateZ(0);
    width: 120px;
    &:hover, &:focus, &:active{
        color: $whiteColor;
        transform: scale(0.8);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
}