footer{
    border: 1px solid transparent;
    .navbar-toggler, .navbar-collapse{
        display: none;
    }
    .copy{
        color: $whiteColor;
        font-size: 1rem;
        margin-left: 10%;
        width: auto;
    }
    .socialNetworks{
        margin-left: 10%;
        width: 90%;
        li{
            list-style: none;
            a{
                color: $whiteColor;
                cursor: pointer;
                font-size: 1.3rem;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                display: inline-block;
                vertical-align: middle;
                transform: perspective(1px) translateZ(0); 
                &:hover, &:focus, &:active{
                    animation-name: pulseEffect;
                    animation-duration: 0.3s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    @keyframes pulseEffect {
                        to{
                            transform: scale(1.1);
                        }
                    }
                }               
            }
        }
    }
}