.navbar-toggler{
    margin-top: 20px;
}

.logo{
    margin-left: 45px;
    margin-top: 7px;
    width: 70%;
}

.navbar-nav{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    .nav-item{
        margin-top: 5px;
        margin-bottom: 5px;
        a{
            color: $grayLightColor;
            font-family: $secondaryFont;
            font-size: 1rem;
            font-weight: bold;
            position: relative;
            text-decoration: none;
        }
        &.selected{
            color: $whiteColor;
        }
        &:hover{
            a{
                color: $grayDarkColor;
            }
        }
    }
}