.interiorPage{
    .interiorTop{
        overflow: hidden;
        width: 100%;
        h1{
            color: $whiteColor;
            display: block;
            position: absolute;
            width: auto;
        }
    }
    .mainContentDesktop{
        display: none;
    }
    .title{
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .team{
        .teamMember{
            h4{
                margin-top: 20px;
                text-align: center;
            }
            h5{
                text-align: center;
            }
            img{
                border-radius: 50%;
            }
            p{
                font-size: 1.2rem;
            }
            .teamMember__socialNetworks{
                display: flex;
                margin-top: 12%;
                margin-bottom: 12%;
                width: 90%;
                text-align: center;
                li{
                    list-style: none;
                    a{
                        color: $blackColor;
                        cursor: pointer;
                        font-size: 1.3rem;
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        display: inline-block;
                        vertical-align: middle;
                        transform: perspective(1px) translateZ(0); 
                        &:hover, &:focus, &:active{
                            animation-name: pulseEffect;
                            animation-duration: 0.3s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                        }               
                    }
                }
            }
        }
    }
    .lunchTitle{
        margin-left: 1rem;
        font-size: 2rem;
        width: auto;
    }
    .drinksTitle{
        margin-left: 3rem;
        font-size: 2rem;
        width: auto;
    }    
    .lunchMenu,
    .drinkshMenu{
        background-repeat: no-repeat;
        background-size: contain;
    }
    .lunchMenu{
        background-image: url('../images/food.png');
        height: 175px;
    }
    .drinkshMenu{
        background-image: url('../images/drinks.png');
        height: 175px;
    }
    .eventsSlider{
        height: 630px;
        #carouselExampleIndicators{
            margin-left: .7rem;
        }
        .carousel-indicators{
            margin: 0;
            padding: 0;
        }
        .allImages{
            background-position: center;
            background-size: cover;
        }
        .img1{
            background-image: url('../images/facilities1.jpg');
        }
        .img2{
            background-image: url('../images/facilities2.jpg');
        }
        .img3{
            background-image: url('../images/facilities3.jpg');
        } 
    }
    .carousel-item{
        height: 600px;
    }
    .members{
        height: auto;
        position: relative;
        margin-bottom: 3rem;
        .becomeVIP{
            h4{
                width: auto;
                font-size: 1.7rem;
            }
        }
    }
    .accordion-button:not(.collapsed){
        color: $whiteColor;
        background-color: $grayDarkColor;
    }
    .accordion-button:focus{
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;  
    }
    .accordion-item{
        .accordion-header{
            .accordion-button{
                font-family: $primaryFont;
                font-size: 1.5rem;
                text-align: justify;
            }
        }
        .accordion-collapse{
            .accordion-body{
                font-family: $primaryFont;
                font-size: 1.2rem;
                text-align: justify;
            }
        }
    }
    .mainContent{
        .row{
            .formContainer{
                .formContainer__contactForm{
                    label{
                        font-size: 1.2rem;
                        font-weight: bold;               
                    }
                    input{
                        border-radius: 10px;
                        border: 2px solid #eee;
                        box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
                        margin-bottom: 25px;
                        margin-top: 10px;
                        padding: 10px;
                    }
                    textarea{
                        border:0;
                        border-radius:15px;
                        box-shadow:4px 4px 10px rgba(0,0,0,0.20);
                        height:150px;
                        margin-bottom: 15px;
                        margin-top: 10px;
                        padding:15px;
                        resize: vertical;
                        width:98%;     
                    }
                    input[type=submit]{
                        background-color: $primaryColor;
                        color: $whiteColor;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: bolder;
                        text-transform: uppercase;
                        &:hover{
                            background-color:  $secondaryColor;
                            color: $whiteColor;
                        }
                    }
                }
            }
            .information{
                .information__email, .information__phone{
                    text-decoration: none;
                    color: $blackColor;
                    font-size: 1.5rem;
                    margin-right: 5rem;
                }
            }
        }
        .mainContent__moreInfo{
            img{
                float: left;
                height: 165px;
                width: auto;
                margin-right: 2rem;
                margin-bottom: .7rem;
            }
            p{
                margin-bottom: 3rem;
            }
        }
    }
}