@media(min-width: 279px){

    /* Homepage */

    body{
        padding-top: 8.3rem;
    }
    .about{
        margin-top: -0.7rem;
    } 
    
    /* Interior Page */

    .interiorPage{
        .interiorTop{
            h2{
                font-size: 3rem;
                left: 5rem;
                top: 12rem;
            }
        }
    }   
    footer{
        .copy{
            font-size: 0.7rem;
            margin-left: 15%;
        }
    } 
    
}

@media(min-width: 319px){

    /* Homepage */

    .about{
        .container{
            .row{
                .buttonContainer{
                    margin-left: -12%;
                }
            }
        }
    }
    .events {
        height: 450px;
    }
    footer{
        .copy{
            font-size: .8rem;
            margin-left: 15%;
        }
    }

    /* Interior Page */

    .interiorPage{
        .interiorTop{
            h2{
                font-size: 3rem;
                left: 6rem;
                top: 13rem;
            }
            .giftTitle{
                left: 4rem;
            }
        }
        .lunchTitle{
            margin-left: 3rem;
            font-size: 1.7rem;
        }
        .drinksTitle{
            margin-left: 5rem;
            font-size: 1.7rem;
        }
        .lunchMenu{
            height: 200px;
            margin-left: 15px;
        }
        .drinkshMenu{
            height: 230px;
            margin-top: 0;
            margin-left: 12px;
            margin-bottom: -30px;
        } 
        .mainContent{
            .mainContent__moreInfo{
                img{
                    height: 195px;
                }
            }            
        }                   
    }

}

@media(min-width: 359px){

    /* Homepage */

    .about{
        .divider{
            margin-top: -1rem;
        }
        .container{
            .row{
                .buttonContainer{
                    margin-left: -10%;
                    margin-top: -4%;
                }
            }
        }
    }
    .events{
        height: 415px;
    } 
    footer{
        .copy{
            font-size: 1rem;
            margin-left: 13%;
        }
    }
    
    /* Interior Page */

    .interiorPage{
        .interiorTop{
            h2{
                font-size: 3rem;
                left: 7rem;
                top: 14rem;
            }
        }
        .lunchTitle{
            margin-left: 3rem;
            font-size: 2rem;
        }
        .drinksTitle{
            margin-left: 5rem;
            font-size: 2rem;
        }      
        .lunchMenu{
            height: 200px;
            margin-left: 15px;
        }
        .drinkshMenu{
            height: 230px;
            margin-top: 0;
            margin-left: 7px;
            margin-bottom: 0;
        }
        .mainContent{
            .mainContent__moreInfo{
                img{
                    height: 220px;
                }
            }            
        }          
    }    

}

@media(min-width: 374px){

    /* Homepage */

    .about{
        margin-top: -1.1rem;
        .divider{
            margin-top: .4rem;
        } 
    }    
    .events{
        height: 420px;
    }
    footer{
        .copy{
            font-size: 1rem;
            margin-left: 12%;
        }
    }

    /* Interior Page */

    .interiorPage{
        .lunchTitle{
            margin-left: 4rem;
        }
        .drinksTitle{
            margin-left: 5rem;
        }      
        .lunchMenu{
            height: 215px;
        }
        .drinkshMenu{
            height: 230px;
            margin-top: 0;
            margin-left: 10px;
            margin-bottom: 0;
        }
        .interiorTop{
            .giftTitle{
                left: 5rem;
            }
        }
        .mainContent{
            .mainContent__moreInfo{
                img{
                    height: 232px;
                }
            }            
        }          
    }     

}

@media(min-width: 410px){

    /* Homepage */

    .about{
        margin-top: -2.2rem;
        .divider{
            margin-top: 1.4rem;
        }
        .container{
            .row{
                .buttonContainer{
                    margin-left: -8%;
                    margin-top: -4%;
                }  
            }
        }
    }    
    footer{
        .copy{
            margin-left: 15%;
        }  
    }

    /* Interior Page */

    .interiorPage{
        .interiorTop{
            h2{
                font-size: 3rem;
                left: 9rem;
                top: 15rem;
            }
        }
        .lunchTitle{
            margin-left: 5rem;
        }
        .drinksTitle{
            margin-left: 7rem;
        }          
        .lunchMenu{
            height: 231px;
            margin-left: 20px;
        }   
        .drinkshMenu{
            margin-left: 15px;
            margin-bottom: 25px;
        }
        .interiorTop{
            .giftTitle{
                left: 6rem;
            }
        }
        .mainContent{
            .mainContent__moreInfo{
                img{
                    height: 255px;
                }
            }            
        }            
    }   

}

@media(min-width: 413px){
    .menu h2{
        font-size: 1.7rem;
    }
}

@media(min-width: 539px){

    /* Homepage */
    header{
        .logo{
            margin-left: 65px;
        }
    }
    .about{
        .container{
            .row{
                .buttonContainer{
                    margin-left: -5%;
                    margin-top: -2%;
                    margin-bottom: 20px;
                }
            }
        }
        .content{
            .readMoreButton{
                margin-left: 5%;
            }
        }
    }
    .menu{
        .col-sm-12{
            .card{
                img{
                    height: 250px;
                }
            }
        }
    }
    .events{
        height: 430px;
        .content{
            h2{
                font-size: 1.7rem;
                margin-top: 10%;
            }
            p{
                font-size: 1.2rem;
                margin-top: 0;
                padding: 30px;
                padding-bottom: 12px;
            }
        }
    }
    footer{
        .logo{
            margin-left: 65px;
        }
        .copy {
            margin-left: 22%;
            font-size: 1.1rem;
        }
        .socialNetworks{
            margin-left: 15%;
            width: auto;
        }
    }

    /* Interior Page */

    .interiorPage{
        .interiorTop{
            h2{
                font-size: 3.5rem;
                left: 12rem;
                top: 18rem;
            }
        }
        .lunchTitle{
            margin-left: 9rem;
        }
        .drinksTitle{
            margin-left: 11rem;
        }          
        .lunchMenu{
            height: 300px;
            margin-left: 35px;
        }   
        .drinkshMenu{
            height: 295px;
            margin-left: 33px;
            margin-bottom: 25px;
        }
        .interiorTop{
            .giftTitle{
                left: 9rem;
            }
        }
        .mainContent{
            .mainContent__moreInfo{
                img{
                    height: 222px;
                }
            }            
        }                  
    } 

}

@media(min-width: 767px){

    /* Homepage */

    body{
        padding-top: 11.5rem;
    }
    hr{
        display: none;
    }
    header{
        .logo{
            width: 50%;
            margin-left: 10rem;
            margin-top: 1rem;
        } 
    }    
    .navbar-nav{
        .nav-item{
            a{
                font-size: 1.3rem;
            } 
        }
    }
    .about{
        margin-top: -11.8rem;
        .divider{
            margin-top: 10.7rem;
        }
        .container{
            .row{
                .buttonContainer{
                    margin-left: -8%;
                    margin-top: -2%;
                    margin-bottom: 20px;
                    .readMoreButton{
                        margin-left: 2rem;
                    }        
                }   
            }
        }
    }      
    .menu{
        h2 {
            font-size: 2.2rem;
            padding: 2.5%;
        }   
    }
    .events{
        height: 415px;
        .img{
            background-position: center;
            display: block;
        }  
        .content{
            padding: 30px;
            h2{
                font-size: 2.2rem;
                margin-top: 10%;
            }
            p{
                font-size: 1.1rem;
                padding: 19px;
            }    
        }      
    }       
    .giftCards{
        height: 630px;
        margin-top: 6.4rem;
        .img{
            background-position: center;
            background-size: cover;
            display: block;
            height: 100%;
            overflow: hidden;
        }
        .content{
            padding: 30px;
            h2{
                font-size: 2.2rem;
                margin-top: 0;
            }  
            p{
                font-size: 1.1rem;
                padding: 19px;
                padding-top: 2%;
            } 
            .readMoreButton{
                margin-left: 5%;
            }  
        }
    }
    .location{
        height: 350px;
        .row{
            .col-12{
                margin: 0;
                padding: 0;
            }
        }
        iframe{
            height: 350px;
        }
    }
    footer{
        .logo{
            width: 50%;
            margin-left: 10rem;
            margin-top: 1rem;
        }         
        .copy {
            margin-left: 24%;
            font-size: 1.3rem;
        }
        .socialNetworks{
            margin-left: 23%;
            width: auto;
        }
    }

    /* Interior Page */

    .interiorPage{
        .interiorTop{
            height: 370px;
            h2{
                font-size: 4rem;
                left: 19rem;
                top: 20rem;
            }
        }
        p{
            font-size: 1.5rem;
        }
        .title{
            font-size: 2.5rem;
        }
        .lunchTitle{
            margin-left: 6rem;
        }
        .drinksTitle{
            margin-left: 7rem;
        }          
        .lunchMenu{
            height: 250px;
            margin-left: 35px;
        }   
        .drinkshMenu{
            height: 235px;
        }
        .members{
            .becomeVIP{
                h4{
                    font-size: 2rem;
                }
            }
        }
        .interiorTop{
            .giftTitle{
                left: 14rem;
            }
        }
        .mainContent{
            .mainContent__moreInfo{
                img{
                    height: 322px;
                }
            }            
        }         
    }   

}

@media(min-width: 1023px){

    /* Homepage */

    .mobile{
        display: none !important;
    }
    .desktop{
        display: block !important;
    }
    .events.desktop,
    .giftCards.desktop{
        display: flex !important;
    }
    body{
        margin-top: -12.5%;
    }
    header{
        .logo{
            width: 40%;
            margin-left: 0;
            margin-top: -3px;
        } 
    }
    .navbar-nav{
        .nav-item{
            .selected{
                color: $whiteColor;
            }
            a{
                font-size: 1rem;
                &:before{
                    content: '[';
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    top: -5px;
                    transition: .6s;
                }
                &:after{
                    content: ']';
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: -5px;
                    transition: .6s;
                }
            } 
            &:hover{
                a{
                    color: $grayDarkColor;
                }
            }  
            &:hover{
                a{
                    &:before{
                        left: -15px;
                        opacity: 1;
                    }
                    &:after{
                        opacity: 1;
                        right: -15px;
                    }
                }
            }    
        }
    }
    .about{
        margin-top: -1.7rem;
        .divider{
            margin-top: 0;
        }
        .container{
            .row{
                p{
                    font-size: 1.2rem;
                }
                .buttonContainer{
                    margin-left: -1%;
                    margin-top: -1%;
                    margin-bottom: 20px;
                    .readMoreButton{
                        margin-left: 0;
                    }     
                } 
            }
        }
    }
    .menu{
        .col-sm-12{
            .card{
                .card-body{
                    .card-text{
                        font-size: 1.2rem;
                    }   
                } 
            }
        }
    }
    .events{
        height: 380px;
        .content{
            h2{
                margin-top: 6%;
            }
            p{
                font-size: 1.2rem;
            }
            .readMoreButton{
                margin-left: 4%;
            }
        
        }
    }
    .giftCards{
        height: 500px;
        margin-top: 5.9rem;
        .content{
            .readMoreButton{
                margin-left: 4%;
            }
        }
    } 
    footer{
        .logo{
            width: 40%;
            margin-left: 0;
            margin-top: -3px;
        }         
        .copy{
            margin-left: 1rem;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
        .socialNetworks{
            margin-left: 56%;
            margin-top: -7%;
            width: auto;
        }
    }  
    
    /* Interior Page */

    .interiorPage{
        .interiorTop{
            height: 370px;
            h2{
                font-size: 4.5rem;
                left: 25rem;
                top: 13rem;
            }
        }
        .title{
            font-size: 3rem;
        }
        .team{
            .teamMember{
                .teamMember__socialNetworks{
                    margin-left: -1.5rem;
                }
            }
        }
        .lunchTitle{
            margin-left: 8rem;
        }
        .drinksTitle{
            margin-left: 10rem;
        }               
        .lunchMenu{
            height: 345px;
            margin-left: 0;
        }
        .drinkshMenu{
            height: 305px;
            margin-left: 10px;
        }  
        .interiorTop{
            .giftTitle{
                left: 22rem;
            }
        }
        .mainContent{
            .mainContent__moreInfo{
                img{
                    height: 400px;
                }
            }            
        }               
    }  

}

@media(min-width: 1500px){

    /* Homepage */

    .navbar-nav{
        .nav-item{
            a{
                font-size: 1.3rem;
            }
        }
    }
    .about{
        .container{
            margin-left: 9rem;
            .row{
                p{
                    font-size: 1.5rem;
                    margin-top: 5%;
                }
                .buttonContainer{
                    margin-left: 0;
                    margin-top: 0;
                    margin-bottom: 20px;
                }    
            }
        }
    }
    .readMoreButton{
        font-size: 1.3rem;
    }    
    .menu{
        .col-sm-12{
            .card{
                width: 90%;
                img{
                    height: 300px;
                }
                .card-body{
                    .card-text{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        h2{
            font-size: 2.5rem;
        }
    }
    .events{
        .content{
            h2{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.4rem;
            }
            .readMoreButton{
                margin-left: 2%;
            }        
        }
    }
    .giftCards{
        .content{
            h2{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.4rem;
                padding-top: 0;
            }
            .readMoreButton{
                margin-left: 2%;
            }
        }
    }
    footer{
        padding-bottom: .5rem;
        .socialNetworks{
            margin-top: -4rem;
        }
        .copy{
            font-size: 1.3rem;
        }  
    }  
    
    /* Interior Page */

    .mainContentDesktop{
        display: block !important;
    }

    .mainContentMobile{
        display: none;
    }

    .interiorPage{
        .interiorTop{
            height: 450px;
            h2{
                font-size: 4.5rem;
                left: 47rem;
                top: 13rem;
            }
        }
        .title{
            font-size: 3rem;
        }
        .lunchTitle{
            font-size: 3rem;
            margin-left: 7rem;
        }
        .drinksTitle{
            font-size: 3rem;
            margin-left: 10rem;
        }               
        .lunchMenu{
            height: 400px;
            margin-left: 0;
        }
        .drinkshMenu{
            height: 400px;
            margin-left: 10px;
            margin-bottom: 4rem;
        }  
        .interiorTop{
            .giftTitle{
                left: 43rem;
            }
        }              
    }      

}