$primaryFont: 'Yanone Kaffeesatz', sans-serif;
$secondaryFont: 'Sansita Swashed', cursive;
$primaryColor:  #4e739c;
$secondaryColor: #89aaa5;
$whiteColor: #ffffff; 
$blackColor: #000000;
$grayLightColor: #e4e3e3; 
$grayDarkColor: #313333; 
$buttonBackgroundColor: rgb(28, 113, 170);