* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  padding-top: 8.5rem; }

h2 {
  font-family: "Sansita Swashed", cursive;
  font-size: 2.7rem;
  text-align: justify; }

h3 {
  font-size: 2.5rem;
  text-align: justify; }

h4 {
  font-size: 2rem;
  text-align: justify; }

h5 {
  font-size: 1.5rem;
  text-align: justify; }

p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify; }

.bgBlue {
  background-color: #4e739c; }

.divider {
  position: relative; }

.readMoreButton {
  background-color: #1c71aa;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transform: perspective(1px) translateZ(0);
  width: 120px; }
  .readMoreButton:hover, .readMoreButton:focus, .readMoreButton:active {
    color: #ffffff;
    transform: scale(0.8);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

.navbar-toggler {
  margin-top: 20px; }

.logo {
  margin-left: 45px;
  margin-top: 7px;
  width: 70%; }

.navbar-nav {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center; }
  .navbar-nav .nav-item {
    margin-top: 5px;
    margin-bottom: 5px; }
    .navbar-nav .nav-item a {
      color: #e4e3e3;
      font-family: "Sansita Swashed", cursive;
      font-size: 1rem;
      font-weight: bold;
      position: relative;
      text-decoration: none; }
    .navbar-nav .nav-item.selected {
      color: #ffffff; }
    .navbar-nav .nav-item:hover a {
      color: #313333; }

.desktop {
  display: none !important; }

.homepage .videoSlider {
  height: auto;
  position: relative; }

.about {
  margin-top: 1%; }
  .about .divider {
    height: 70px;
    position: relative; }
    .about .divider .customShapeDivider {
      left: 0;
      line-height: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%; }
      .about .divider .customShapeDivider svg {
        display: block;
        height: 70px;
        position: relative;
        width: calc(100% + 1.3px); }
      .about .divider .customShapeDivider .shape-fill {
        fill: #4e739c; }
  .about .container .row p {
    font-weight: 400;
    font-size: 1rem;
    padding: 10px;
    margin-left: 3%; }
  .about .container .row .buttonContainer {
    margin-left: -10%;
    margin-top: -5%;
    margin-bottom: 20px; }
  .about .customShapeDividerII .shape-fill {
    fill: #89aaa5; }

.menu {
  background-color: #e4e3e3;
  height: 100%;
  width: 100%; }
  .menu h2 {
    color: #000000;
    font-size: 1.5rem;
    padding-top: 5%;
    position: relative;
    text-align: center;
    width: 100%; }
  .menu .menuContainer {
    padding: 15px; }
  .menu .col-sm-12 .card {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 7%;
    margin-left: 4%;
    text-decoration: none;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    transition-property: box-shadow, transform;
    vertical-align: middle;
    width: 100%; }
    .menu .col-sm-12 .card img {
      height: 200px;
      width: 100%; }
    .menu .col-sm-12 .card .card-body {
      background-color: #ffffff;
      box-shadow: 2px 2px #313333;
      color: #000000; }
      .menu .col-sm-12 .card .card-body .card-text {
        font-size: 1rem; }
  .menu .col-sm-12:hover, .menu .col-sm-12:focus, .menu .col-sm-12:active {
    transform: scale(1.1); }

.divider .customShapeDividerIII {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 105; }
  .divider .customShapeDividerIII svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px; }
  .divider .customShapeDividerIII .shape-fill {
    fill: #e4e3e3; }

.divider .customShapeDividerIV {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 20; }
  .divider .customShapeDividerIV svg {
    position: relative;
    display: none;
    width: calc(100% + 1.3px);
    height: 184px; }
  .divider .customShapeDividerIV .shape-fill {
    display: none;
    fill: #89aaa5; }

.divider .customShapeDividerV {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }
  .divider .customShapeDividerV svg {
    position: relative;
    display: none;
    width: calc(100% + 1.3px);
    height: 68px; }
  .divider .customShapeDividerV .shape-fill {
    display: none;
    fill: #ffffff; }

.events {
  height: 350px; }
  .events .img {
    background-image: url("../images/events.jpg");
    display: none;
    height: 125%;
    z-index: 100; }
  .events .content {
    background-color: #89aaa5; }
    .events .content h2 {
      font-size: 1.5rem;
      margin-top: 15%;
      margin-left: -3%;
      text-align: center;
      width: 100%; }
    .events .content .readMoreButton {
      margin-left: 7%; }
    .events .content p {
      font-size: 1rem;
      margin-top: 5%;
      padding: 5px;
      padding-left: 25px;
      padding-right: 25px; }

.giftCards .img {
  background-image: url("../images/gift-cards.jpg");
  display: none;
  height: 125%;
  z-index: 100; }

.giftCards .content h2 {
  font-size: 1.5rem;
  margin-top: 5%;
  margin-left: -2%;
  text-align: center;
  width: 100%; }

.giftCards .content p {
  font-size: 1rem;
  margin-top: 5%;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px; }

.giftCards .content .readMoreButton {
  margin-left: 7%; }

footer {
  border: 1px solid transparent; }
  footer .navbar-toggler, footer .navbar-collapse {
    display: none; }
  footer .copy {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 10%;
    width: auto; }
  footer .socialNetworks {
    margin-left: 10%;
    width: 90%; }
    footer .socialNetworks li {
      list-style: none; }
      footer .socialNetworks li a {
        color: #ffffff;
        cursor: pointer;
        font-size: 1.3rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        display: inline-block;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0); }
        footer .socialNetworks li a:hover, footer .socialNetworks li a:focus, footer .socialNetworks li a:active {
          animation-name: pulseEffect;
          animation-duration: 0.3s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-direction: alternate; }

@keyframes pulseEffect {
  to {
    transform: scale(1.1); } }

.interiorPage .interiorTop {
  overflow: hidden;
  width: 100%; }
  .interiorPage .interiorTop h2 {
    color: #ffffff;
    display: block;
    position: absolute;
    width: auto; }

.interiorPage .mainContentDesktop {
  display: none; }

.interiorPage .title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem; }

.interiorPage .team .teamMember h4 {
  margin-top: 20px;
  text-align: center; }

.interiorPage .team .teamMember h5 {
  text-align: center; }

.interiorPage .team .teamMember img {
  border-radius: 50%; }

.interiorPage .team .teamMember p {
  font-size: 1.2rem; }

.interiorPage .team .teamMember .teamMember__socialNetworks {
  display: flex;
  margin-top: 12%;
  margin-bottom: 12%;
  width: 90%;
  text-align: center; }
  .interiorPage .team .teamMember .teamMember__socialNetworks li {
    list-style: none; }
    .interiorPage .team .teamMember .teamMember__socialNetworks li a {
      color: #000000;
      cursor: pointer;
      font-size: 1.3rem;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      display: inline-block;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0); }
      .interiorPage .team .teamMember .teamMember__socialNetworks li a:hover, .interiorPage .team .teamMember .teamMember__socialNetworks li a:focus, .interiorPage .team .teamMember .teamMember__socialNetworks li a:active {
        animation-name: pulseEffect;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate; }

.interiorPage .lunchTitle {
  margin-left: 1rem;
  font-size: 2rem;
  width: auto; }

.interiorPage .drinksTitle {
  margin-left: 3rem;
  font-size: 2rem;
  width: auto; }

.interiorPage .lunchMenu,
.interiorPage .drinkshMenu {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -10px; }

.interiorPage .lunchMenu {
  background-image: url("../images/food.jpg");
  height: 150px;
  margin-left: 1rem; }

.interiorPage .drinkshMenu {
  background-image: url("../images/drinks.jpg");
  height: 160px;
  margin-left: 1rem; }

.interiorPage .eventsSlider {
  height: 630px; }
  .interiorPage .eventsSlider #carouselExampleIndicators {
    margin-left: .7rem; }
  .interiorPage .eventsSlider .carousel-indicators {
    margin: 0;
    padding: 0; }
  .interiorPage .eventsSlider .allImages {
    background-position: center;
    background-size: cover; }
  .interiorPage .eventsSlider .img1 {
    background-image: url("../images/facilities1.jpg"); }
  .interiorPage .eventsSlider .img2 {
    background-image: url("../images/facilities2.jpg"); }
  .interiorPage .eventsSlider .img3 {
    background-image: url("../images/facilities3.jpg"); }

.interiorPage .carousel-item {
  height: 600px; }

.interiorPage .members {
  height: auto;
  position: relative;
  margin-bottom: 3rem; }
  .interiorPage .members .becomeVIP h4 {
    width: auto;
    font-size: 1.7rem; }

.interiorPage .accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #313333; }

.interiorPage .accordion-button:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none; }

.interiorPage .accordion-item .accordion-header .accordion-button {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5rem;
  text-align: justify; }

.interiorPage .accordion-item .accordion-collapse .accordion-body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.2rem;
  text-align: justify; }

.interiorPage .mainContent .row .formContainer .formContainer__contactForm label {
  font-size: 1.2rem;
  font-weight: bold; }

.interiorPage .mainContent .row .formContainer .formContainer__contactForm input {
  border-radius: 10px;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px; }

.interiorPage .mainContent .row .formContainer .formContainer__contactForm textarea {
  border: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  height: 150px;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 15px;
  resize: vertical;
  width: 98%; }

.interiorPage .mainContent .row .formContainer .formContainer__contactForm input[type=submit] {
  background-color: #4e739c;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase; }
  .interiorPage .mainContent .row .formContainer .formContainer__contactForm input[type=submit]:hover {
    background-color: #89aaa5;
    color: #ffffff; }

.interiorPage .mainContent .row .information .information__email, .interiorPage .mainContent .row .information .information__phone {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  margin-right: 5rem; }

.interiorPage .mainContent .mainContent__moreInfo img {
  float: left;
  height: 165px;
  width: auto;
  margin-right: 2rem;
  margin-bottom: .7rem; }

.interiorPage .mainContent .mainContent__moreInfo p {
  margin-bottom: 3rem; }

@media (min-width: 279px) {
  /* Homepage */
  body {
    padding-top: 8.3rem; }
  .about {
    margin-top: -0.7rem; }
  /* Interior Page */
  .interiorPage .interiorTop h2 {
    font-size: 3rem;
    left: 5rem;
    top: 12rem; }
  footer .copy {
    font-size: 0.7rem;
    margin-left: 15%; } }

@media (min-width: 319px) {
  /* Homepage */
  .about .container .row .buttonContainer {
    margin-left: -12%; }
  .events {
    height: 450px; }
  footer .copy {
    font-size: .8rem;
    margin-left: 15%; }
  /* Interior Page */
  .interiorPage .interiorTop h2 {
    font-size: 3rem;
    left: 6rem;
    top: 13rem; }
  .interiorPage .interiorTop .giftTitle {
    left: 4rem; }
  .interiorPage .lunchTitle {
    margin-left: 3rem;
    font-size: 1.7rem; }
  .interiorPage .drinksTitle {
    margin-left: 5rem;
    font-size: 1.7rem; }
  .interiorPage .lunchMenu {
    height: 200px;
    margin-left: 15px; }
  .interiorPage .drinkshMenu {
    height: 230px;
    margin-top: 0;
    margin-left: 12px;
    margin-bottom: -30px; }
  .interiorPage .mainContent .mainContent__moreInfo img {
    height: 195px; } }

@media (min-width: 359px) {
  /* Homepage */
  .about .divider {
    margin-top: -1rem; }
  .about .container .row .buttonContainer {
    margin-left: -10%;
    margin-top: -4%; }
  .events {
    height: 415px; }
  footer .copy {
    font-size: 1rem;
    margin-left: 13%; }
  /* Interior Page */
  .interiorPage .interiorTop h2 {
    font-size: 3rem;
    left: 7rem;
    top: 14rem; }
  .interiorPage .lunchTitle {
    margin-left: 3rem;
    font-size: 2rem; }
  .interiorPage .drinksTitle {
    margin-left: 5rem;
    font-size: 2rem; }
  .interiorPage .lunchMenu {
    height: 200px;
    margin-left: 15px; }
  .interiorPage .drinkshMenu {
    height: 230px;
    margin-top: 0;
    margin-left: 7px;
    margin-bottom: 0; }
  .interiorPage .mainContent .mainContent__moreInfo img {
    height: 220px; } }

@media (min-width: 374px) {
  /* Homepage */
  .about {
    margin-top: -1.1rem; }
    .about .divider {
      margin-top: .4rem; }
  .events {
    height: 420px; }
  footer .copy {
    font-size: 1rem;
    margin-left: 12%; }
  /* Interior Page */
  .interiorPage .lunchTitle {
    margin-left: 4rem; }
  .interiorPage .drinksTitle {
    margin-left: 5rem; }
  .interiorPage .lunchMenu {
    height: 215px; }
  .interiorPage .drinkshMenu {
    height: 230px;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0; }
  .interiorPage .interiorTop .giftTitle {
    left: 5rem; }
  .interiorPage .mainContent .mainContent__moreInfo img {
    height: 232px; } }

@media (min-width: 410px) {
  /* Homepage */
  .about {
    margin-top: -2.2rem; }
    .about .divider {
      margin-top: 1.4rem; }
    .about .container .row .buttonContainer {
      margin-left: -8%;
      margin-top: -4%; }
  footer .copy {
    margin-left: 15%; }
  /* Interior Page */
  .interiorPage .interiorTop h2 {
    font-size: 3rem;
    left: 9rem;
    top: 15rem; }
  .interiorPage .lunchTitle {
    margin-left: 5rem; }
  .interiorPage .drinksTitle {
    margin-left: 7rem; }
  .interiorPage .lunchMenu {
    height: 231px;
    margin-left: 20px; }
  .interiorPage .drinkshMenu {
    margin-left: 15px;
    margin-bottom: 25px; }
  .interiorPage .interiorTop .giftTitle {
    left: 6rem; }
  .interiorPage .mainContent .mainContent__moreInfo img {
    height: 255px; } }

@media (min-width: 413px) {
  .menu h2 {
    font-size: 1.7rem; } }

@media (min-width: 539px) {
  /* Homepage */
  header .logo {
    margin-left: 65px; }
  .about .container .row .buttonContainer {
    margin-left: -5%;
    margin-top: -2%;
    margin-bottom: 20px; }
  .about .content .readMoreButton {
    margin-left: 5%; }
  .menu .col-sm-12 .card img {
    height: 250px; }
  .events {
    height: 430px; }
    .events .content h2 {
      font-size: 1.7rem;
      margin-top: 10%; }
    .events .content p {
      font-size: 1.2rem;
      margin-top: 0;
      padding: 30px;
      padding-bottom: 12px; }
  footer .logo {
    margin-left: 65px; }
  footer .copy {
    margin-left: 22%;
    font-size: 1.1rem; }
  footer .socialNetworks {
    margin-left: 15%;
    width: auto; }
  /* Interior Page */
  .interiorPage .interiorTop h2 {
    font-size: 3.5rem;
    left: 12rem;
    top: 18rem; }
  .interiorPage .lunchTitle {
    margin-left: 9rem; }
  .interiorPage .drinksTitle {
    margin-left: 11rem; }
  .interiorPage .lunchMenu {
    height: 300px;
    margin-left: 35px; }
  .interiorPage .drinkshMenu {
    height: 295px;
    margin-left: 33px;
    margin-bottom: 25px; }
  .interiorPage .interiorTop .giftTitle {
    left: 9rem; }
  .interiorPage .mainContent .mainContent__moreInfo img {
    height: 222px; } }

@media (min-width: 767px) {
  /* Homepage */
  body {
    padding-top: 11.5rem; }
  hr {
    display: none; }
  header .logo {
    width: 50%;
    margin-left: 10rem;
    margin-top: 1rem; }
  .navbar-nav .nav-item a {
    font-size: 1.3rem; }
  .about {
    margin-top: -11.8rem; }
    .about .divider {
      margin-top: 10.7rem; }
    .about .container .row .buttonContainer {
      margin-left: -8%;
      margin-top: -2%;
      margin-bottom: 20px; }
      .about .container .row .buttonContainer .readMoreButton {
        margin-left: 2rem; }
  .menu h2 {
    font-size: 2.2rem;
    padding: 2.5%; }
  .events {
    height: 415px; }
    .events .img {
      background-position: center;
      display: block; }
    .events .content {
      padding: 30px; }
      .events .content h2 {
        font-size: 2.2rem;
        margin-top: 10%; }
      .events .content p {
        font-size: 1.1rem;
        padding: 19px; }
  .giftCards {
    height: 630px;
    margin-top: 6.4rem; }
    .giftCards .img {
      background-position: center;
      background-size: cover;
      display: block;
      height: 100%;
      overflow: hidden; }
    .giftCards .content {
      padding: 30px; }
      .giftCards .content h2 {
        font-size: 2.2rem;
        margin-top: 0; }
      .giftCards .content p {
        font-size: 1.1rem;
        padding: 19px;
        padding-top: 2%; }
      .giftCards .content .readMoreButton {
        margin-left: 5%; }
  .location {
    height: 350px; }
    .location .row .col-12 {
      margin: 0;
      padding: 0; }
    .location iframe {
      height: 350px; }
  footer .logo {
    width: 50%;
    margin-left: 10rem;
    margin-top: 1rem; }
  footer .copy {
    margin-left: 24%;
    font-size: 1.3rem; }
  footer .socialNetworks {
    margin-left: 23%;
    width: auto; }
  /* Interior Page */
  .interiorPage .interiorTop {
    height: 370px; }
    .interiorPage .interiorTop h2 {
      font-size: 4rem;
      left: 19rem;
      top: 20rem; }
  .interiorPage p {
    font-size: 1.5rem; }
  .interiorPage .title {
    font-size: 2.5rem; }
  .interiorPage .lunchTitle {
    margin-left: 6rem; }
  .interiorPage .drinksTitle {
    margin-left: 7rem; }
  .interiorPage .lunchMenu {
    height: 250px;
    margin-left: 35px; }
  .interiorPage .drinkshMenu {
    height: 235px; }
  .interiorPage .members .becomeVIP h4 {
    font-size: 2rem; }
  .interiorPage .interiorTop .giftTitle {
    left: 14rem; }
  .interiorPage .mainContent .mainContent__moreInfo img {
    height: 322px; } }

@media (min-width: 1023px) {
  /* Homepage */
  .mobile {
    display: none !important; }
  .desktop {
    display: block !important; }
  .events.desktop,
  .giftCards.desktop {
    display: flex !important; }
  body {
    margin-top: -12.5%; }
  header .logo {
    width: 40%;
    margin-left: 0;
    margin-top: -3px; }
  .navbar-nav .nav-item .selected {
    color: #ffffff; }
  .navbar-nav .nav-item a {
    font-size: 1rem; }
    .navbar-nav .nav-item a:before {
      content: '[';
      left: 0;
      opacity: 0;
      position: absolute;
      top: -5px;
      transition: .6s; }
    .navbar-nav .nav-item a:after {
      content: ']';
      opacity: 0;
      position: absolute;
      right: 0;
      top: -5px;
      transition: .6s; }
  .navbar-nav .nav-item:hover a {
    color: #313333; }
  .navbar-nav .nav-item:hover a:before {
    left: -15px;
    opacity: 1; }
  .navbar-nav .nav-item:hover a:after {
    opacity: 1;
    right: -15px; }
  .about {
    margin-top: -1.7rem; }
    .about .divider {
      margin-top: 0; }
    .about .container .row p {
      font-size: 1.2rem; }
    .about .container .row .buttonContainer {
      margin-left: -1%;
      margin-top: -1%;
      margin-bottom: 20px; }
      .about .container .row .buttonContainer .readMoreButton {
        margin-left: 0; }
  .menu .col-sm-12 .card .card-body .card-text {
    font-size: 1.2rem; }
  .events {
    height: 380px; }
    .events .content h2 {
      margin-top: 6%; }
    .events .content p {
      font-size: 1.2rem; }
    .events .content .readMoreButton {
      margin-left: 4%; }
  .giftCards {
    height: 500px;
    margin-top: 5.9rem; }
    .giftCards .content .readMoreButton {
      margin-left: 4%; }
  footer .logo {
    width: 40%;
    margin-left: 0;
    margin-top: -3px; }
  footer .copy {
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-bottom: 2rem; }
  footer .socialNetworks {
    margin-left: 56%;
    margin-top: -7%;
    width: auto; }
  /* Interior Page */
  .interiorPage .interiorTop {
    height: 370px; }
    .interiorPage .interiorTop h2 {
      font-size: 4.5rem;
      left: 25rem;
      top: 13rem; }
  .interiorPage .title {
    font-size: 3rem; }
  .interiorPage .team .teamMember .teamMember__socialNetworks {
    margin-left: -1.5rem; }
  .interiorPage .lunchTitle {
    margin-left: 8rem; }
  .interiorPage .drinksTitle {
    margin-left: 10rem; }
  .interiorPage .lunchMenu {
    height: 345px;
    margin-left: 0; }
  .interiorPage .drinkshMenu {
    height: 305px;
    margin-left: 10px; }
  .interiorPage .interiorTop .giftTitle {
    left: 22rem; }
  .interiorPage .mainContent .mainContent__moreInfo img {
    height: 400px; } }

@media (min-width: 1500px) {
  /* Homepage */
  .navbar-nav .nav-item a {
    font-size: 1.3rem; }
  .about .container {
    margin-left: 9rem; }
    .about .container .row p {
      font-size: 1.5rem;
      margin-top: 5%; }
    .about .container .row .buttonContainer {
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 20px; }
  .readMoreButton {
    font-size: 1.3rem; }
  .menu .col-sm-12 .card {
    width: 90%; }
    .menu .col-sm-12 .card img {
      height: 300px; }
    .menu .col-sm-12 .card .card-body .card-text {
      font-size: 1.2rem; }
  .menu h2 {
    font-size: 2.5rem; }
  .events .content h2 {
    font-size: 2.5rem; }
  .events .content p {
    font-size: 1.4rem; }
  .events .content .readMoreButton {
    margin-left: 2%; }
  .giftCards .content h2 {
    font-size: 2.5rem; }
  .giftCards .content p {
    font-size: 1.4rem;
    padding-top: 0; }
  .giftCards .content .readMoreButton {
    margin-left: 2%; }
  footer {
    padding-bottom: .5rem; }
    footer .socialNetworks {
      margin-top: -4rem; }
    footer .copy {
      font-size: 1.3rem; }
  /* Interior Page */
  .mainContentDesktop {
    display: block !important; }
  .mainContentMobile {
    display: none; }
  .interiorPage .interiorTop {
    height: 450px; }
    .interiorPage .interiorTop h2 {
      font-size: 4.5rem;
      left: 47rem;
      top: 13rem; }
  .interiorPage .title {
    font-size: 3rem; }
  .interiorPage .lunchTitle {
    font-size: 3rem;
    margin-left: 7rem; }
  .interiorPage .drinksTitle {
    font-size: 3rem;
    margin-left: 10rem; }
  .interiorPage .lunchMenu {
    height: 400px;
    margin-left: 0; }
  .interiorPage .drinkshMenu {
    height: 400px;
    margin-left: 10px;
    margin-bottom: 4rem; }
  .interiorPage .interiorTop .giftTitle {
    left: 43rem; } }
